body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo-navbar {
  justify-content: center;
  text-align: center;
  background-color: #181863;
  position: fixed;
  opacity: 1;
}

.logo-mk {
  justify-content: center;
  text-align: center;
  margin-bottom: 4em;
  margin-top: -3em;
}

.hero {
  position: sticky;
}

.sticky {
  position: fixed;
  z-index: -1;
  width: 100%;
}

#content {
  position: absolute;
  margin-top: 90vh;
  width: 100%;
}

.sh-navbar {
  position: fixed;
  z-index: -1;
  width: 100%;
  transition: ease-out 5s;
  animation: ease-out 5s;
}

.hidden {
  display: none;
  -webkit-animation: 1.5s cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 2 running fadeInDown;
  animation: 1.5s cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 2 running fadeInDown;
}

/* Nav */
#nav {
  top: 0;
  position: relative;
  z-index: 1001;
}

/* Banner */
#banner {
  position: relative;
  background: url(./assets/banner.svg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  height: 100vh;
  width: 100%;
}
#banner .banner-left {
  color: white;
  text-align: center;
  margin-top: 10%;
}
@media (min-width: 768px) {
  #banner .banner-left {
    left: 0em;
  }
}
@media (min-width: 1024px) {
  #banner .banner-left {
    left: -5em;
  }
}
@media (min-width: 1440px) {
  #banner .banner-left {
    left: -10em;
  }
}
@media (min-width: 768px) {
  #banner .banner-right {
    left: 3em;
  }
}
@media (min-width: 1024px) {
  #banner .banner-right {
    left: 5em;
  }
}
@media (min-width: 1440px) {
  #banner .banner-right {
    left: 3em;
  }
}
#banner h2 {
  letter-spacing: 0.3em;
  font-weight: bold;
}
@media (min-width: 768px) {
  #banner h2 {
    font-size: 2em;
  }
}
@media (min-width: 1024px) {
  #banner h2 {
    font-size: 4em;
  }
}
#banner p {
  letter-spacing: 0.2em;
  font-size: 1em;
}
#banner .ban-img {
  width: 35em;
}
@media (min-width: 768px) {
  #banner .ban-img {
    width: 18em;
    right: 0em;
  }
}
@media (min-width: 1024px) {
  #banner .ban-img {
    width: 25em;
    right: 0em;
  }
}
@media (min-width: 1440px) {
  #banner .ban-img {
    width: 30em;
  }
}

/* Content */
#content .card {
  border: none;
  border-radius: 35px;
}
#content .search {
  padding: 10% 20% 10% 20%;
}
#content .search input {
  border-radius: 25px;
}
#content .search .btn-search {
  background-color: #181863;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
}
#content .table table {
  width: 90%;
  margin: auto auto;
}

/*# sourceMappingURL=style.css.map */
